# Ignore everything
*

# Except these files
!run.R
!.gitignore
!README.md

# This CSV file contains public information available on gov.uk and can therefore be included
!2022-03-25_11-34-22_GMT Organisations on gov UK.csv